@import "../config/vars";
@include fontstyle();

header{
    @include bgcolor();
    height: 100px;
    margin: 25px auto;
}
.wrapper{
    @include bgcolor();
    position: relative;
    height: 500px;
    width: 500px;    
    overflow: auto;
    margin: 25px auto;
}
footer{
    @include bgcolor();
    height: 100px;
    margin: 25px auto;
}